<div class="bootstrap-wrapper mt20" *ngIf="!isSubmit">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <!-- instructions
                <h3>Instructions</h3> -->
            </div>
            <div class="col-md-8 mt20">
                <!-- questions -->
                <ng-container *ngIf="questions">
                    <h1>Exam Paper: <b>{{questions[0].quiz.title}}</b></h1>
                </ng-container>

                <mat-card *ngFor="let q of questions; let i as index; let n=index" class="mt20 bg-color">

                    <mat-card-content class="mt20">

                        <p> <b> Q {{n+1}}) </b> <span [innerHTML]="q.content"></span></p>
                        
                        <mat-divider></mat-divider>

                        <div class="row mt20">
                            <div class="col-md-6">
                                <input type="radio"
                                [value]="q.option1"
                                [(ngModel)]="q.givenAnswer"
                                [name]="i"
                                /> {{q.option1}}
                                
                            </div>
                            <div class="col-md-6">
                                <input type="radio"
                                [value]="q.option2"
                                [(ngModel)]="q.givenAnswer"
                                [name]="i"
                                /> {{q.option2}}
                            </div>
                        </div>

                        <div class="row mt20">
                            <div class="col-md-6">
                                <input type="radio"
                                [value]="q.option3"
                                [(ngModel)]="q.givenAnswer"
                                [name]="i"
                                > {{q.option3}}
                            </div>
                            <div class="col-md-6">
                                <input type="radio"
                                [value]="q.option4"
                                [(ngModel)]="q.givenAnswer"
                                [name]="i"
                                > {{q.option4}}
                            </div>
                        </div>
                    </mat-card-content>
                    
                </mat-card>

                <div class="container text-center mt20">
                    <button mat-raised-button color="primary" (click)="submitQuiz()">Submit Paper</button>
                </div>
            </div>
            <div class="col-md-2">
                <mat-card style="margin-top: 70px;" class="bg-color">
                    <mat-card-header>
                        <mat-card-title>Progress</mat-card-title>
                        <mat-card-subtitle>Test will automatically submitted when the timer ends</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <h1 class="text-center">{{ getFormattedTime() }}</h1>
                        <mat-spinner mode="determinate" style="margin: auto;" color="warn" [value]="(timer/(this.questions.length * 2 * 60)) * 100"></mat-spinner>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<!-- Showing the result -->

<div class="bootstrap-wrapper" *ngIf="isSubmit">
    <div class="row mt20">
        <div class="col-md-6 offset-md-3">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Exam Paper Result
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-center">
                    <h1>Marks : {{marksGot}}</h1>
                    <h1>Correct Answers : {{correctAnswer}}</h1>
                    <h1>Questions answered : {{attempted}}</h1>
                </mat-card-content>
                <mat-card-actions class="text-center">
                    <!-- <button mat-raised-button color="primary"><mat-icon>print</mat-icon>Print</button> -->
                    <button mat-raised-button color="accent" [routerLink]="'/user-dashboard/0'"><mat-icon>home</mat-icon>Home</button>
                    <button mat-raised-button color="primary"  (click)="reloadCurrentPage()" ><mat-icon> rocket </mat-icon>
                        Try Again</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>