<main>
    <div class="intro">
      <h1> ADMIN DASHBOARD </h1>
      <p> Welcome to admin dashboard to manage exam papers</p>
    </div>
    <div class="achievements">
      <div class="work">
        <i class="fas fa-atom"></i>
        <p class="work-heading">Categories</p>
        <p class="work-text"> Catogaries are the subjects in this exam management portal </p>
      </div>
      <div class="work">
        <i class="fas fa-skiing"></i>
        <p class="work-heading">Exam Papers</p>
        <p class="work-text">Can manage exam papers in a subject by adding questions</p>
      </div>
      <div class="work">
        <i class="fas fa-ethernet"></i>
        <p class="work-heading">Question</p>
        <p class="work-text"> Questions can be add, delete, view in the admin dashboard </p>
      </div>
    </div>
  </main>